<!-- {{cust|json}} -->
<div class="image" style="width:100%;height:100%;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container-fluid form-block">
    <form #loginform="ngForm">

      <br>
      <div class="form-group">
        <label>Enter Email :</label>
        <input type="text" #id #here="ngModel" class="form-control" [(ngModel)]="cust.email" name="email" required>

        <small class="text-danger" [class.here]="here.valid && here.touched">Email is required field</small>

      </div>



      <div class="form-group">
        <label>Set password :</label>
        <input type="password" #pass="ngModel" class="form-control" [(ngModel)]="cust.password" name="password" required>
        <small class="text-danger" [class.here]="pass.valid || pass.touched">Password is required field</small>
      </div>




      <button type="submit" [disabled]="loginform.invalid" style="display:block;margin:auto;" (click)="onSubmit()" class="btn btn-primary mb-2">Submit</button>

    </form>
  </div>
</div>